.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.gamers-list {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 70%;
  align-items: center;
}
.gamers-list div {
  width: 60%;
  font-size: 16px;
}
  
  .button-answers {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 10px;
    }
    .button-answers button {
      width: 45%;
      min-height: 40px;
      margin: 10px;
      box-shadow: 1px 1px 5px black;
      overflow: hidden;
      word-wrap: break-word;
    }
    
    .button-answers .ant-btn[disabled] {
      cursor: pointer;
    }
    .next-button {
      position: absolute;
    }
    .game-area .game-img {
      background-size: cover;
      height: 281px;
      width: 90%;
      box-shadow: 1px 1px 10px black;
    }
    @media screen and (max-width: 1023px){
      .game-area .game-img {
        width: 80%;
      }
    }
    @media screen and (max-width: 767px){
      .game-area .game-img {
        width: 80%;
      }
    }