@import '../node_modules/antd/dist/antd.css';
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 40%;
  margin: 20px auto;
  background-color: rgba(207, 204, 204, 0.8);
  border-radius: 10px;
}
.wrapper h1 {
  color: black;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.main-logo{
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}

@media screen and (max-width: 1023px){
  .wrapper {
    width: 60%;
  }
  .game-area .game-img {
    width: 80%;
  }
}
@media screen and (max-width: 767px){
  .wrapper {
    width: 90%;
  }
  .game-area .game-img {
    width: 70%;
  }
  
}
