@import '../node_modules/antd/dist/antd.css';
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 520px;
  width: 40%;
  margin: 20px auto;
  background-color: rgba(207, 204, 204, 0.8);
  border-radius: 10px;
}
.wrapper h1 {
  color: black;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.main-logo{
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}
.main-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.95);
}
.main-buttons {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top: 20px;
}
.main-buttons button {
  width: 45%;
}

@media screen and (max-width: 1023px){
  .wrapper {
    width: 60%;
  }
  .game-area .game-img {
    width: 80%;
  }
}
@media screen and (max-width: 767px){
  .wrapper {
    width: 90%;
  }
  .game-area .game-img {
    width: 70%;
  }
  .main-buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .main-buttons button {
    margin-top: 5px;
    width: 80%;
  }
  
}
